* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #050608;
  --gray1: #1f1f1f;
  --gray2: #8b8c8c;
  --white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--black);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--gray2);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray1);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #272727;
  }
}
